
{% macro flask_sqlalchemy(components) %}

{% for cls, defs in components.schemas.items() %}

class {{ cls }}(SurrogatePK, Model):
    """The {{ cls }} Model"""

    __tablename__ = "{{ cls | snake_case }}"
    {% for name, prop in defs.properties.items() %}
    {{ name }} = {{ prop | sqlalchemy_field(name,name in defs.required) }}
    {% endfor %}

    def __init__(self, {{ defs.properties | function_call_args }} **kwargs):
        """Create instance."""
        db.Model.__init__(self,{{ defs.properties | function_call_kwargs }}**kwargs)

    def __repr__(self):
        """Represent instance as a unique string."""
        return f"<{{cls}}({% for name, prop in defs.properties.items() %}{{name}}={self.{{name}}},{% endfor %})>"
{% endfor %}

{% endmacro %}