{% macro flask_routes(paths) %}

{% for path, pathitem in paths.items() %}{% for method, operation in pathitem.items() %}

@blueprint.route('{{ [basePath, path]|join|replace('{', '<')|replace('}', '>') }}', methods=['{{ method | upper }}'])
def {{ operation.operationId | function_name }}({{ operation.parameters | parameters_in('path') | function_call_args }}):
    {{ operation.summary | function_doc }}

    {% for param in operation.parameters | parameters_in('query') %}
    {{ param.name }} = flask.request.args.get("{{ param.name }}", None)
    {% endfor %}

    try:
        return actions.{{ operation.operationId | function_name }}({{ operation.parameters | function_call_kwargs }}), 200
    except Exception as e:
        print(e)
        return "Not Implemented", 501

{% endfor %}{% endfor %}

{% endmacro %}